<div mat-button>
  <img *ngIf="data.data.icon" [src]="data.data.icon" class="img" />
  <svg
    *ngIf="data.data.chart"
    [style]="'--pos:'+ data.data.chart.rate[1].value + ';--buff:' + data.data.chart.rate[0].value + ';--limit: 10'"
    class="chart"
    viewBox="0 0 20 20"
  >
    <g transform="rotate(-90 10 10)">
      <circle class="pos" r="10" cy="10" cx="10" />
      <circle class="buff" r="10" cy="10" cx="10" />
    </g>
  </svg>
  <!--[fontSet]="idx <= rate ? 'material-icons' : 'material-icons-outlined'" (click)="onRateChange(idx)"-->
  <mat-icon [fontSet]="'material-icons-outlined'" *ngIf="!data.data.icon" mat-rate>star_border</mat-icon>
  <div *ngIf="data.data && data.data.values" class="label">
    {{data.data.values[0]}}
  </div>
</div>
