<h1 mat-dialog-title>
  <button mat-icon-button class="mat-cancel" (click)="back()">
    <mat-icon>arrow_backward</mat-icon>
  </button>
  &nbsp;
  <button mat-icon-button class="mat-close" (click)="onClick()">
    <mat-icon>done</mat-icon>
  </button>
</h1>
<mat-progress-bar
  [mode]="progress.mode"
  [value]="progress.value"
  [color]="progress.color"
></mat-progress-bar>
<div mat-dialog-content class="mat-form">
  <form default [formGroup]="formGroup" *ngIf="formGroup">
    <fieldset *ngFor="let item of setting.items">
      <legend>{{item.name}}</legend>
      <div legend-right *ngIf="item.type == 'os'">{{ item.options[formGroup.controls[item.name].value].viewValue }}</div>
      <div legend-right *ngIf="item.type == 'ms'">{{ formGroup.controls[item.name].controls[0].value + " - " + formGroup.controls[item.name].controls[1].value}}</div>
      <mat-slider
        min="0"
        [max]="item.options.length - 1" *ngIf="item.type == 'os'"
      >
      <input [formControlName]="item.name" (input)="onData(item.name, $event)" matSliderThumb>
    </mat-slider>
    <mat-slider
        [min]="item.range.min"
        [max]="item.range.max" *ngIf="item.type == 'ms'" [formArrayName]="item.name"
      >
      <input [formControlName]="0" (input)="onData(item.name, $event, 0)" matSliderStartThumb>
      <input [formControlName]="1" (input)="onData(item.name, $event, 1)" matSliderEndThumb>
    </mat-slider>
    </fieldset>
  </form>
</div>
